.inPlaceEditorViews :global(.RaInPlaceEditor-reading) div,
.inPlaceEditorViews :global(.RaInPlaceEditor-saving) div,
.inPlaceEditorViews :global(.RaInPlaceEditor-editing) input {
    font-size: 14px;
}
