/* Hide columns on small screens */
.hiddenOnSmallScreens {
    display: none;
}

@media (min-width: 1200px) {
    .hiddenOnSmallScreens {
        display: table-cell;
    }
}

/* Title column styling */
.titleCell {
    max-width: 16em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Published at column styling */
.italicCell {
    font-style: italic !important;
}

.italicCell * {
    font-style: italic !important;
}

/* Tags column styling */
.tagsCell {
    min-width: 9em;
}

/* Actions column styling */
.actionsCell {
    text-align: center;
}
