.treeContainer {
    max-width: 20em;
    margin-top: var(--salt-spacing-100);
}

.tree {
    padding: var(--salt-spacing-100);
}

.treeNode {
    padding: var(--salt-spacing-50) 0;
    min-height: 36px;
}

.toggleButton {
    min-width: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
}

.toggleButton:disabled {
    opacity: 0;
    cursor: default;
}

.spacer {
    display: inline-block;
    width: 24px;
}

.nodeLabel {
    flex: 1;
}

.childNodes {
    margin-left: 0;
}
