.tagCard {
    padding: var(--salt-spacing-100);
}

.tree {
    list-style: none;
    padding: 0;
    margin: 0;
}

.treeItem {
    padding: var(--salt-spacing-50) var(--salt-spacing-100);
    min-height: 36px;
}

.treeItem:hover {
    background-color: var(--salt-container-secondary-background);
}

.toggleButton {
    min-width: 24px;
    padding: 0;
}

.togglePlaceholder {
    width: 24px;
    display: inline-block;
}

.nodeLabel {
    flex: 1;
}

.childNodes {
    list-style: none;
    padding: 0;
    margin: 0;
}
